
body {
	background-color: #6C8CEB;
}

header, footer {
	background-color:rgb(217, 196, 36) ;

}

main {
background-color: #6C8CEB;

}

footer {


}


h3 {
text-align: center; 
	color:black;
}

b {
	color: black;
	font-size: 30px;
}

i { color: black;
    font-size: 40px;
 }
